<a href="https://colab.research.google.com/github/Fadelrunn/-/blob/main/1%20Work.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Солдатов Руслан КИ19-24Б

In [ ]:
#@title Новая форма
#@markdown ---
name = "234234" #@param {type:"string"}
group = "\u041A\u041819-20\u0431" #@param ["КИ19-20б","КИ19-21б","КИ19-22б"]
date = "2021-02-17" #@param {type:"date"}
checked_1 = True #@param {type:"boolean"}
age = 1 #@param {type:"integer"}
year_study = 2 #@param {type:"slider", min:"2", max:"4", step:1}
average_grade = 5 #@param {type:"slider", min:"2", max:"5", step:0.1}
if name =="":
  print("Введите имя")
else:
  print("ФИО: ",name)
  print("группа: ",group)
  print("дата: ",date) 
  if checked_1:
    print("возраст: ",age)
    print("год обучения: ",year_study)
    print("средний балл: ",average_grade)

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv("/content/sample_data/california_housing_test.csv")
data

      longitude  latitude  ...  median_income  median_house_value
0       -122.05     37.37  ...         6.6085            344700.0
1       -118.30     34.26  ...         3.5990            176500.0
2       -117.81     33.78  ...         5.7934            270500.0
3       -118.36     33.82  ...         6.1359            330000.0
4       -119.67     36.33  ...         2.9375             81700.0
...         ...       ...  ...            ...                 ...
2995    -119.86     34.42  ...         1.1790            225000.0
2996    -118.14     34.06  ...         3.3906            237200.0
2997    -119.70     36.30  ...         2.2895             62000.0
2998    -117.12     34.10  ...         3.2708            162500.0
2999    -119.63     34.42  ...         8.5608            500001.0

[3000 rows x 9 columns]

New Section

In [ ]:
data = pd.read_csv("/content/sample_data/california_housing_test.csv")
data

NameError: ignored

In [ ]:
import pandas as pd
#@markdown —-
change1 = True #@param {type:"boolean"}
if change1 == True:
  %load_ext google.colab.data_table
else:
  %unload_ext google.colab.data_table
  table = "train" #@param ["test", "train"]
if table == "test":
  data = pd.read_csv("/content/sample_data/california_housing_test.csv")
  data
else:
  data = pd.read_csv("/content/sample_data/california_housing_train.csv")
  data

The google.colab.data_table extension is already loaded. To reload it, use:
  %reload_ext google.colab.data_table